<div class="row justify-content-center">
  <div class="col-4" *ngFor="let role of roles">
    <i style="width: 15px;height: 15px;display: inline-block;" [style.background]="role.Color"></i>
    {{role.Name}}
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-12"><a routerLink="/task/create" [queryParams]="{home: true}" class="btn btn-sm btn-primary float-right"><i class="fa fa-plus"></i></a></div>
</div>
<div *ngFor="let day of tasks">
  <div class="row"><div class="col-8"><h4>{{day.date | date:"EEEE, MMM d"}}</h4></div></div>
  <hr/>
  <div class="row">
    <div class="col-md-6" *ngFor="let task of day.tasks; let i=index">
      <div class="card" style="border-width: 2px;" [style.border-color]="task.Role.Color">
        <div class="card-body">
          <h5 class="card-title">{{task.Name}}
            <a *ngIf="task.Status === 1" class="btn btn-sm btn-primary float-right complete" (click)="changeStatus(task.ID, task.Status)">
              <i class="fa fa-calendar-check"></i>
            </a>
            <div class="dropdown dropleft float-right postpone" *ngIf="taskSoon(task)">
              <button class="btn btn-sm btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-clock"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="postponeTask(task, 10)">Postpone 10 minutes</a>
                <a class="dropdown-item" (click)="postponeTask(task, 30)">Postpone 30 minutes</a>
                <a class="dropdown-item" (click)="postponeTask(task, 60)">Postpone 1 hour</a>
                <a class="dropdown-item" (click)="postponeTask(task, 60*24)">Postpone to tomorrow</a>
              </div>
            </div>
          </h5>
          <hr/>
          <h6 class="card-subtitle mb-2 text-muted">
            {{task.Date | date:"HH:mm"}}, {{task.Duration}} minutes
            <i *ngIf="taskSoon(task) && !taskStarted(task) && !taskEnded(task)" class="fa fa-clock float-right btn btn-sm btn-info"> Soon</i>
            <i *ngIf="taskStarted(task) && !taskEnded(task)" class="fa fa-clock float-right btn btn-sm btn-success"> In progress</i>
            <i *ngIf="taskEnded(task)" class="fa fa-road float-right btn btn-sm btn-warning"> Ended</i>
          </h6>
          <p class="card-text">{{task.Description}}</p>
        </div>
      </div>
    <br/>
  </div>
  </div>
</div>
