.fa-calendar-check {
  cursor: pointer;
}

.card-body{
  padding: 0.5rem;
}
hr{
  margin-top: 0;
}
.dropdown-item {
  cursor: pointer;
}

.postpone {
  display: inline-block;
  margin-right: 2px;
}
.complete {
  color: #fff !important;
}
