<div class="row justify-content-center">
  <div class="col-md-8 col-lg-4">
    <h3 class="text-center">{{title}}</h3>
    <form #formGroup="ngForm" [formGroup]="form" (ngSubmit)="submitForm(form.value)">
      <div class="form-group">
        <label for="Status">Select Status</label>
        <select name="Status" id="Status" formControlName="Status" class="form-control">
          <option [ngValue]="null" selected disabled hidden>Select</option>
          <option value="1">New</option>
          <option value="2">Complete</option>
        </select>
      </div>
      <div class="form-group" *ngIf="roles">
        <label for="RoleID">Select Role</label>
        <select name="RoleID" id="RoleID" formControlName="RoleID" class="form-control">
          <option [ngValue]="null" selected disabled hidden>Select</option>
          <option *ngFor="let role of roles" [value]="role.ID">{{role.Name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="Name">Task Name</label>
        <input formControlName="Name"
               [ngClass]="{'is-invalid': !validateName()}"
               type="text" class="form-control" id="Name" placeholder="Enter Name">
        <div class="invalid-feedback" *ngIf="!validateName()">
          Please enter Name
        </div>
      </div>
      <div class="form-group">
        <label for="Description">Task Name</label>
        <textarea formControlName="Description"
               class="form-control" id="Description" placeholder="Enter Description">
        </textarea>
      </div>
      <div class="form-group">
        <label for="Date">Select Date</label>
        <p-calendar
          formControlName="Date"
          showTime="true"
          hourFormat="24"
          dateFormat="d.mm.yy"
          showIcon="true"
          [locale]="en"
          class="form-control" id="Date"></p-calendar>
      </div>
      <div class="form-group">
        <label for="Duration">Select Duration</label>
        <div class="text-center h5">{{form.value.Duration}} minutes</div>
        <p-slider formControlName="Duration"
                  [min]="10"
                  [max]="150"
        class="form-control" id="Duration"></p-slider>
      </div>
      <div class="row justify-content-center">
        <div class="col-6"><button type="submit" class="btn btn-primary btn-block">{{buttonSubmit}}</button></div>
        <div class="col-6"><button type="button" class="btn btn-warning btn-block" (click)="back()">Back</button></div>
      </div>
    </form>
  </div>
</div>
