<div class="row">
  <div class="col-6">
    <h3>{{title}}</h3>
    <h6 class="text-muted">{{taskStatusShow}}</h6>
  </div>
  <div class="col-6">
    <a routerLink="/task/list" class="btn btn-sm btn-info float-right" (click)="toggleTaskFilter()"><i class="fa fa-sync"></i></a>
    <a routerLink="/task/create" class="btn btn-sm btn-primary float-right"><i class="fa fa-plus"></i></a>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" style="width: 50px">#</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Role</th>
        <th scioe="col" style="width: 95px">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of taskList; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{task.Name}}</td>
        <td>{{task.Date | date:"dd MMM y, HH:mm"}}</td>
        <td><i style="width: 15px;height: 15px;display: inline-block;" [style.background]="task.Role.Color"></i> {{task.Role.Name}}</td>
        <td>
          <a routerLink="/task/update/{{task.ID}}" class="btn btn-sm btn-success"><i class="fa fa-edit"></i></a>
          <a href="#" class="btn btn-sm btn-warning" (click)="deleteTask(task.ID, task.Name)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

