<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" *ngIf="!authorized()" [routerLink]="['/welcome']">{{title}}</a>
  <a class="navbar-brand" *ngIf="authorized()" [routerLink]="['/home']">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="authorized()">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Home</a>
      </li>
      <li class="nav-item" *ngIf="!authorized()">
        <a class="nav-link" [routerLink]="['/user/login']" routerLinkActive="active">Login</a>
      </li>

      <li class="nav-item dropdown" *ngIf="authorized()">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Configuration</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/role/list']">Roles</a>
          <a class="dropdown-item" [routerLink]="['/task/list']">Tasks</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="authorized()">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User options</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/user/profile']">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()" href="#">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

