<div class="row justify-content-center">
  <div class="col-md-4">
    <h3 class="text-center">{{title}}</h3>
    <form #form="ngForm" [formGroup]="roleForm" (ngSubmit)="submitForm(roleForm.value)">
      <div class="form-group">
        <label for="Name">Role Name</label>
        <input formControlName="Name"
               [ngClass]="{'is-invalid': !validateName()}"
               type="text" class="form-control" id="Name" placeholder="Enter Role Name">
        <div class="invalid-feedback" *ngIf="!validateName()">
          Please enter role Name
        </div>
      </div>
      <div class="form-group">
        <label for="Color">Role Color</label>
        <input formControlName="Color"
            [(colorPicker)]="color"
            [style.background]="color"
        class="form-control" id="Color" placeholder="Select Color" [value]="color"/>
      </div>
      <div class="row justify-content-center">
        <div class="col-6"><button type="submit" class="btn btn-primary btn-block">{{buttonSubmit}}</button></div>
        <div class="col-6"><button type="button" class="btn btn-warning btn-block" (click)="back()">Back</button></div>
      </div>
    </form>
  </div>
</div>
