<div class="row">
  <div class="col-6"><h3>{{title}}</h3></div>
  <div class="col-6">
    <a routerLink="/role/create" class="btn btn-sm btn-primary float-right"><i class="fa fa-plus"></i></a>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" style="width: 50px">#</th>
        <th scope="col">Name</th>
        <th scope="col" style="width: 90px">Color</th>
        <th scope="col" style="width: 95px;">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let role of roleList; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{role.Name}}</td>
        <td><div style="width: 60px;height: 30px; border-radius: 3px" [style.background]="role.Color"></div></td>
        <td>
          <a routerLink="/role/update/{{role.ID}}" class="btn btn-sm btn-success"><i class="fa fa-edit"></i></a>
          <a href="#" class="btn btn-sm btn-warning" (click)="deleteRole(role.ID, role.Name)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

