<div class="row justify-content-center">
  <div class="col-md-4">
    <h3 class="text-center">{{pageTitle}}</h3>
    <form #form="ngForm" [formGroup]="authForm" (ngSubmit)="auth(authForm.value)">
      <div class="form-group">
        <label for="Email">Email address</label>
        <input formControlName="email"
               [ngClass]="{'is-invalid': !validateEmail()}"
          type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted" *ngIf="validateEmail()">We'll never share your email with anyone else.</small>
        <div class="invalid-feedback" *ngIf="!validateEmail() && !invalidCredentials">
          Please enter email
        </div>
        <div class="invalid-feedback" *ngIf="invalidCredentials">
          Invalid email and/or password
        </div>
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input formControlName="password"
               [ngClass]="{'is-invalid': !validatePassword()}"
          type="password" class="form-control" id="Password" placeholder="Password">
        <div class="invalid-feedback" *ngIf="!validatePassword()">
          Please enter password
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6"><button type="submit" class="btn btn-primary btn-block">Login</button></div>
      </div>
    </form>
  </div>
</div>
<hr/>
<div class="row justify-content-center">
  <div class="col-md-4 text-center">
    Don't have an account? <a [routerLink]="['/user/register']">Sign up</a>
  </div>
</div>
