<div class="row justify-content-center">
  <div class="col-md-4">
    <h3 class="text-center">{{title}}</h3>
    <form #form="ngForm" [formGroup]="authForm" (ngSubmit)="register(authForm.value)">
      <div class="form-group">
        <label for="Email">Email address</label>
        <input formControlName="email"
               [ngClass]="{'is-invalid': !validateEmail()}"
               type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted" *ngIf="validateEmail()">We'll never share your email with anyone else.</small>
        <div class="invalid-feedback" *ngIf="!validateEmail()">
          Please enter email
        </div>
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input formControlName="password"
               [ngClass]="{'is-invalid': !validatePassword()}"
               type="password" class="form-control" id="Password" placeholder="Password">
        <div class="invalid-feedback" *ngIf="!validatePassword()">
          Please enter password
        </div>
      </div>
      <div class="form-group">
        <label for="Repeat">Repeat Password</label>
        <input formControlName="repeat"
               [ngClass]="{'is-invalid': !validateRepeat() || !validateMatch()}"
               type="password" class="form-control" id="Repeat" placeholder="Password">
        <div class="invalid-feedback" *ngIf="!validateRepeat()">
          Please repeat password
        </div>
        <div class="invalid-feedback" *ngIf="!validateMatch()">
          Passwords don't match
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6"><button type="submit" class="btn btn-primary btn-block">Create</button></div>
      </div>
    </form>
  </div>
</div>
